<div class="container-fluid">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Resume</a>
      <a class="navbar-brand" href="#">About</a>
      <a class="navbar-brand" href="#">Projects</a>
      <a class="navbar-brand" href="https://twitter.com/simunition715">Twitter</a>
      <a class="navbar-brand" href="https://github.com/Simunition715">Github</a>
      <a class="navbar-brand" href="https://www.linkedin.com/in/william-blackwell-471723136/">LinkedIn</a>
    </div>
    <div class="navbar-brand pull-right">
    	William Blackwell 
    </div>
  </div>
</nav>
<div>
  <h1>Web Development with you in mind!</h1>
</div>
</div>